* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: rgba(0, 0, 0, 0.87);
  background: #E5E5E5;
}

h1 {
  font-weight: 700;
  font-size: 54px;
  line-height: 64px;
  color: #424A57;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
 }

 section {
  margin-bottom: 85px;

 }

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

a {
  padding-left: 32px;
  color: #E1E1E1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  background: #424A57;
  color: #E1E1E1;
  padding: 50px 100px;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 100px;
}

.navigation {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
  color: #E1E1E1;
}

.logo {
  margin-left: -32px;
}

.first-screen {
  display: flex;
  justify-content: space-between;
  background: rgba(246, 248, 251, 0.9);
  width: 100%;
  max-width: 1440px;
  padding: 0 100px;
}

.start-img {
  height: 450px;
  width: auto;
  margin: 100px auto;
}

.first-text {
  margin: 127px auto 48px 60px;
  text-align: left;
  padding-right: 20px;
}

.first-text-p {
  font-weight: 400;
  font-size: 27px;
  line-height: 38px;
}
